# Data Cleaning Project using Python

## This Project uses a public dataset of Nashville Housing Data for the purpose of data cleaning and exploration.

In [1]:
# Import Libraries and Data
import pandas as pd
import numpy as np

data = pd.read_excel(r'D:\Nashville Housing Data for Data Cleaning.xlsx')

In [2]:
# Data Preview
data.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

In [3]:
print(type(data.SaleDate[1])) #results in timestamp

# Lets convert SaleDate from DateTime to Date

data['SaleDateConverted'] = data['SaleDate'].dt.date

print(type(data.SaleDateConverted[1]))  #results in date

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'datetime.date'>

In [4]:
# Populate null property address data with PropertyAddress if parcelID matches

d1 = data[data['PropertyAddress'].isna()]
d2 = data[data['PropertyAddress'].isna()==False]
d1[['UniqueID ','ParcelID','PropertyAddress']] #29 rows

       UniqueID           ParcelID PropertyAddress
159        43076   025 07 0 031.00             NaN
223        39432   026 01 0 069.00             NaN
246        45290   026 05 0 017.00             NaN
305        53147  026 06 0A 038.00             NaN
531        43080   033 06 0 041.00             NaN
533        45295  033 06 0A 002.00             NaN
665        48731   033 15 0 123.00             NaN
858        36531   034 03 0 059.00             NaN
1043       46919  034 07 0B 015.00             NaN
1176       44264  034 16 0A 004.00             NaN
1262       45298  041 03 0A 100.00             NaN
1642       40678   042 13 0 075.00             NaN
1782       47293   043 04 0 014.00             NaN
1921       22775   043 09 0 074.00             NaN
2110       45349   043 13 0 308.00             NaN
2362       50927   044 05 0 135.00             NaN
3434        3299   052 01 0 296.00             NaN
3681       43151  052 08 0A 320.00             NaN
19984      49886   092 06 0 273.00             NaN
19986      27140   092 06 0 282.00             NaN
20328      11478   092 13 0 322.00             NaN
20332      32385   092 13 0 339.00             NaN
21129       8126   093 08 0 054.00             NaN
29124      45774   107 13 0 107.00             NaN
29332      14753  108 07 0A 026.00             NaN
29894      15886  109 04 0A 080.00             NaN
30087      24197  110 03 0A 061.00             NaN
30192      51930  113 14 0A 002.00             NaN
30540      51703  114 15 0A 030.00             NaN

In [5]:
d3 = d1[['UniqueID ','ParcelID','PropertyAddress']].merge(d2[['UniqueID ','ParcelID','PropertyAddress']], left_on=['ParcelID'], right_on =['ParcelID'])
d3

,UniqueID _x,ParcelID,PropertyAddress_x,UniqueID _y,PropertyAddress_y
0,43076,025 07 0 031.00,NaN,38077,"410 ROSEHILL CT, GOODLETTSVILLE"
1,39432,026 01 0 069.00,NaN,22721,"141 TWO MILE PIKE, GOODLETTSVILLE"
2,45290,026 05 0 017.00,NaN,4521,"208 EAST AVE, GOODLETTSVILLE"
3,53147,026 06 0A 038.00,NaN,19828,"109 CANTON CT, GOODLETTSVILLE"
4,43080,033 06 0 041.00,NaN,7003,"1129 CAMPBELL RD, GOODLETTSVILLE"
5,45295,033 06 0A 002.00,NaN,12406,"1116 CAMPBELL RD, GOODLETTSVILLE"
6,48731,033 15 0 123.00,NaN,39439,"438 W CAMPBELL RD, GOODLETTSVILLE"
7,36531,034 03 0 059.00,NaN,33057,"2117 PAULA DR, MADISON"
8,36531,034 03 0 059.00,NaN,36532,"2117 PAULA DR, MADISON"
9,46919,034 07 0B 015.00,NaN,45329,"2524 VAL MARIE DR, MADISON"
10,46919,034 07 0B 015.00,NaN,50623,"2524 VAL MARIE DR, MADISON"
11,46919,034 07 0B 015.00,NaN,25069,"2524 VAL MARIE DR, MADISON"
12,44264,034 16 0A 004.00,NaN,56286,"213 WARREN CT, OLD HICKORY"
13,45298,041 03 0A 100.00,NaN,29484,"1289 GOODMORNING DR, NASHVILLE"
14,40678,042 13 0 075.00,NaN,5825,"222 FOXBORO DR, MADISON"
15,47293,043 04 0 014.00,NaN,3475,"112 HILLER DR, OLD HICKORY"
16,22775,043 09 0 074.00,NaN,26253,"213 B LOVELL ST, MADISON"
17,45349,043 13 0 308.00,NaN,40704,"224 HICKORY ST, MADISON"
18,50927,044 05 0 135.00,NaN,38342,"202 KEETON AVE, OLD HICKORY"
19,3299,052 01 0 296.00,NaN,38141,"726 IDLEWILD DR, MADISON"
20,43151,052 08 0A 320.00,NaN,5851,"608 SANDY SPRING TRL, MADISON"
21,49886,092 06 0 273.00,NaN,41535,"2721 HERMAN ST, NASHVILLE"
22,27140,092 06 0 282.00,NaN,26162,"815 31ST AVE N, NASHVILLE"
23,11478,092 13 0 322.00,NaN,1676,"237 37TH AVE N, NASHVILLE"
24,11478,092 13 0 322.00,NaN,24602,"237 37TH AVE N, NASHVILLE"
25,32385,092 13 0 339.00,NaN,20817,"311 35TH AVE N, NASHVILLE"
26,8126,093 08 0 054.00,NaN,8125,"700 GLENVIEW DR, NASHVILLE"
27,8126,093 08 0 054.00,NaN,36765,"700 GLENVIEW DR, NASHVILLE"
28,45774,107 13 0 107.00,NaN,6146,"1205 THOMPSON PL, NASHVILLE"
29,14753,108 07 0A 026.00,NaN,38527,"908 PATIO DR, NASHVILLE"
30,14753,108 07 0A 026.00,NaN,43392,"908 PATIO DR, NASHVILLE"
31,15886,109 04 0A 080.00,NaN,12626,"2537 JANALYN TRCE, HERMITAGE"
32,24197,110 03 0A 061.00,NaN,17330,"2704 ALVIN SPERRY PASS, MOUNT JULIET"
33,51930,113 14 0A 002.00,NaN,31008,"7601 CHIPMUNK LN, NASHVILLE"
34,51703,114 15 0A 030.00,NaN,34326,"109 CEDAR PLACE BND, NASHVILLE"

In [6]:
#convert to numpy for ease of replacing values
df = data.to_numpy()
d4 = d3.to_numpy()

In [7]:
# for loop to itrate through and check if UniqueID matches then replace with PropertyAddress_y
j=0
m=0
for i in d3['UniqueID _x']:
    for m in range(0,len(df)):
        if str(df[m][0]) == str(i):
            df[m][3]=d4[j][4]
            j=j+1
        m=m+1

In [8]:
#Let's see if they updated!
j=0
m=0
for i in d3['UniqueID _x']:
    for m in range(0,len(df)):
        if str(df[m][0]) == str(i):
            print(df[m][3])
            j=j+1
        m=m+1

410  ROSEHILL CT, GOODLETTSVILLE
141  TWO MILE PIKE, GOODLETTSVILLE
208  EAST AVE, GOODLETTSVILLE
109  CANTON CT, GOODLETTSVILLE
1129  CAMPBELL RD, GOODLETTSVILLE
1116  CAMPBELL RD, GOODLETTSVILLE
438  W CAMPBELL RD, GOODLETTSVILLE
2117  PAULA DR, MADISON
2117  PAULA DR, MADISON
2524  VAL MARIE DR, MADISON
2524  VAL MARIE DR, MADISON
2524  VAL MARIE DR, MADISON
213 WARREN  CT, OLD HICKORY
1289  GOODMORNING DR, NASHVILLE
222  FOXBORO DR, MADISON
112  HILLER DR, OLD HICKORY
213 B  LOVELL ST, MADISON
224  HICKORY ST, MADISON
202  KEETON AVE, OLD HICKORY
726  IDLEWILD DR, MADISON
608  SANDY SPRING TRL, MADISON
2721  HERMAN ST, NASHVILLE
815  31ST AVE N, NASHVILLE
237  37TH AVE N, NASHVILLE
237  37TH AVE N, NASHVILLE
311  35TH AVE N, NASHVILLE
700  GLENVIEW DR, NASHVILLE
700  GLENVIEW DR, NASHVILLE
1205  THOMPSON PL, NASHVILLE
908  PATIO DR, NASHVILLE
908  PATIO DR, NASHVILLE
2537  JANALYN TRCE, HERMITAGE
2704  ALVIN SPERRY PASS, MOUNT JULIET
7601  CHIPMUNK LN, NASHVILLE
109  CEDAR PLACE BND, NASHVILLE

In [9]:
df2 = pd.DataFrame(df,columns = list(data.columns)) #change back to dataframe

In [10]:
df2[df2['ParcelID']=='025 07 0 031.00'] #Let's check a particular parcelID to see if it worked!!

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,SaleDateConverted
158,38077,025 07 0 031.00,SINGLE FAMILY,"410 ROSEHILL CT, GOODLETTSVILLE",2015-09-25,120000,20151013-0104052,No,"COSTNER, FRED & CAROLYN","410 ROSEHILL CT, GOODLETTSVILLE, TN",0.96,CITY OF GOODLETTSVILLE,30000,70000,100000,1964,3,1,0,2015-09-25
159,43076,025 07 0 031.00,SINGLE FAMILY,"410 ROSEHILL CT, GOODLETTSVILLE",2016-01-15,179900,20160120-0005776,No,"COSTNER, FRED & CAROLYN","410 ROSEHILL CT, GOODLETTSVILLE, TN",0.96,CITY OF GOODLETTSVILLE,30000,70000,100000,1964,3,1,0,2016-01-15

In [21]:
# Can we split the PropertyAddress to Address, City?
df2['HouseAddress'] = df2['PropertyAddress'].str.split(',').str[0] #To get the House Address
df2['CityAddress'] = df2['PropertyAddress'].str.split(',').str[1] #To get the City Address

In [22]:
df2.head() #Preview looks Great!

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath,SaleDateConverted,HouseAddress,CityAddress
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000,168200,235700,1986,3,3,0,2013-04-09,1808 FOX CHASE DR,GOODLETTSVILLE
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000,264100,319000,1998,3,3,2,2014-06-10,1832 FOX CHASE DR,GOODLETTSVILLE
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000,216200,298000,1987,4,3,0,2016-09-26,1864 FOX CHASE DR,GOODLETTSVILLE
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000,147300,197300,1985,3,3,0,2016-01-29,1853 FOX CHASE DR,GOODLETTSVILLE
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,50000,152300,202300,1984,4,3,0,2014-10-10,1829 FOX CHASE DR,GOODLETTSVILLE

In [23]:
# Let's do something similar for OwnerAddress (Address,City,State)

df2['OwnerHouseAddress'] = df2['OwnerAddress'].str.split(',').str[0]
df2['OwnerCityAddress'] = df2['OwnerAddress'].str.split(',').str[1]
df2['OwnerStateAddress'] = df2['OwnerAddress'].str.split(',').str[2]

In [24]:
df2.head() #Looks Great!

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,...,YearBuilt,Bedrooms,FullBath,HalfBath,SaleDateConverted,HouseAddress,CityAddress,OwnerHouseAddress,OwnerCityAddress,OwnerStateAddress
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",...,1986,3,3,0,2013-04-09,1808 FOX CHASE DR,GOODLETTSVILLE,1808 FOX CHASE DR,GOODLETTSVILLE,TN
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",...,1998,3,3,2,2014-06-10,1832 FOX CHASE DR,GOODLETTSVILLE,1832 FOX CHASE DR,GOODLETTSVILLE,TN
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",...,1987,4,3,0,2016-09-26,1864 FOX CHASE DR,GOODLETTSVILLE,1864 FOX CHASE DR,GOODLETTSVILLE,TN
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",...,1985,3,3,0,2016-01-29,1853 FOX CHASE DR,GOODLETTSVILLE,1853 FOX CHASE DR,GOODLETTSVILLE,TN
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",...,1984,4,3,0,2014-10-10,1829 FOX CHASE DR,GOODLETTSVILLE,1829 FOX CHASE DR,GOODLETTSVILLE,TN

In [26]:
# Lets look at SoldAsVacant for consistency
df2['SoldAsVacant'].unique() # We can see there are 4 values - No,N,Yes,Y

array(['No', 'N', 'Yes', 'Y'], dtype=object)

In [30]:
df2['SoldAsVacant'].replace('Y','Yes',inplace = True)
df2['SoldAsVacant'].replace('N','No',inplace = True)

In [31]:
df2['SoldAsVacant'].unique() #It Worked!

array(['No', 'Yes'], dtype=object)

In [32]:
# Drop columns we dont need anymore... OwnerAddress,TaxDistrict,PropertyAddress,SaleDate
final_df = df2.drop(columns = ['OwnerAddress','TaxDistrict','PropertyAddress','SaleDate'])

In [35]:
list(final_df.columns) # Perfect!

['UniqueID ',
 'ParcelID',
 'LandUse',
 'SalePrice',
 'LegalReference',
 'SoldAsVacant',
 'OwnerName',
 'Acreage',
 'LandValue',
 'BuildingValue',
 'TotalValue',
 'YearBuilt',
 'Bedrooms',
 'FullBath',
 'HalfBath',
 'SaleDateConverted',
 'HouseAddress',
 'CityAddress',
 'OwnerHouseAddress',
 'OwnerCityAddress',
 'OwnerStateAddress']

In [43]:
# Let's drop duplicates based on ParcelID,SalePrice, SaleDateConverted, LegalReference based on the assumption UniqueID is different
final_df = final_df.drop_duplicates(subset=['ParcelID','SalePrice','SaleDateConverted','LegalReference'], keep="first") #104 rows removed